@import "../../../../assets/styles/variables";

.policy {
  padding: 100px 0;
  .container {
    .policy-text {
      h2 {
        color: $blue-text-color;
        font-size: 20px;
      }
      h3 {
        color: $blue-text-color;
        font-size: 18px;
      }
    }
  }
}
